{#
/**
 * @file
 * Theme override for activity tabs block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'activity-tabs-container'
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="activity-tabs">
    {% for key, item in content['#items'] %}
      <div class="activity-tab{% if loop.first %} active{% endif %}">
        <div class="activity-tab-header">{{ item.title }}</div>
        <div class="activity-tab-content">
          {{ item.content }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>